<!DOCTYPE html>
<html>
<title>CLOTHES</title>
<link rel="shortcut icon" href="clothes/clothesicon.png"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="navigation.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Categories</a>
  <a href="childinfo.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">The Child</a>
  <a href="parent.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">The Parent</a>
  <a href="clothes_rec.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Child Activity: CLOTHES</a>
  <a href="welcome.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Logout</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">
  <img src="clothes/clothesicon.png" alt="logo" width="30px" height="auto"/>CLOTHES</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
  <!-- FOOD -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div class="w3-quarter">
        <img src="clothes/panty.jpg" style="width:100%" onclick="document.getElementById('panty_play').play(); panty_clicks(); return false;" alt="Panty">
        <img src="clothes/dress.jpg" style="width:100%" onclick="document.getElementById('dress_play').play(); dress_clicks(); return false;" alt="Dress">
       </div>

   <div class="w3-quarter">
      <img src="clothes/shorts.jpg" style="width:100%" onclick="document.getElementById('shorts_play').play(); shorts_clicks(); return false;" alt="Shorts">
      <img src="clothes/skirt.jpg" style="width:100%" onclick="document.getElementById('skirt_play').play(); skirt_clicks(); return false;" alt="Skirt">
    </div>

    <div class="w3-quarter">
      <img src="clothes/shirt.jpg" style="width:100%" onclick="document.getElementById('shirt_play').play(); shirt_clicks(); return false;" alt="Shirt">
     <img src="clothes/pants.jpg" style="width:100%" onclick="document.getElementById('pants_play').play(); pants_clicks(); return false;" alt="Pants">
    </div>

    <div class="w3-quarter">
      <img src="clothes/jacket.jpg" style="width:100%" onclick="document.getElementById('jacket_play').play(); jacket_clicks(); return false;" alt="Jacket">
     <img src="clothes/sweater.jpg" style="width:100%" onclick="document.getElementById('sweater_play').play(); sweater_clicks(); return false;" alt="Sweater">
    </div>

  </div>


    <audio id="panty_play">
    <source src="audio/panty.mp3" type="audio/ogg" />
    </audio>
    <audio id="dress_play">
    <source src="audio/dress.mp3" type="audio/ogg" />
    </audio>
    <audio id="shorts_play">
    <source src="audio/shorts.mp3" type="audio/ogg" />
    </audio>
    <audio id="skirt_play">
    <source src="audio/skirt.mp3" type="audio/ogg" />
    </audio>
    <audio id="shirt_play">
    <source src="audio/t-shirt.mp3" type="audio/ogg" />
    </audio>
    <audio id="pants_play">
    <source src="audio/pants.mp3" type="audio/ogg" />
    </audio>
    <audio id="jacket_play">
    <source src="audio/jacket.mp3" type="audio/ogg" />
    </audio>
    <audio id="sweater_play">
    <source src="audio/sweater.mp3" type="audio/ogg" />
    </audio>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>

 <script src="jQuery-2.1.4.min.js"></script>
 <script src="app.js"></script>

</body>
</html>
