<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<form method="post" action = '/edit_child'>
    <label>First Name:</label>
    <input id="fname_c" name="fname_c" type="text"/>
    <label>Last Name:</label>
    <input id="lname_c" name="lname_c" type="text"/>
    <label>Birthdate:</label>
    <input id="bday_c" name="bday_c" type="date"/>
    <label>Diagnosis:</label>
    <input id="diagnosis" name="diagnosis" type="text"/>
    <input type="submit" onclick="window.location.href='/child'"/>
</form>

</body>
</html>













