
#food_rec {
    background-color: #a9a9ef63;
}

#toys_rec {
    background-color: #a9a9ef63;
}

#places_rec {
    background-color: #a9a9ef63;
}

#clothes_rec {
    background-color: #a9a9ef63;
}

.table {
    border-collapse: collapse;
}
.table-hover:hover tr {
    background-color:#ffffff8a!important;
}

.table th, .table td {
    border-bottom:none!important;
    border-top:none!important;
    white-space: nowrap;
}
.child {
    padding: 0 15%;
}

.child h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.row {
    background-color: #a9a9ef63;
    font-weight: 700;
    color:#000;
    border-radius:3%;
}
.btn-primary {
    margin-bottom: 3%;
    color: #fff;
    font-weight: 700;
    background-color: #0a61ab;
    border-radius: 50px;
    padding: 0.5% 2%;
    border: 1px solid #0a61ab;
}

.btn-success {
    margin-bottom: 3%;
    color: #fff;
    font-weight: 700;
    background-color: #5cb85c;
    border-radius: 50px;
    padding: 0.5% 2%;
    border: 1px solid #5cb85c;
}

.btn-danger {
    margin-bottom: 3%;
    color: #fff;
    font-weight: 700;
    background-color: #d9534f;
    border-radius: 50px;
    padding: 0.5% 2%;
    border: 1px solid #d9534f;
}

.btn-primary:hover {
    background-color:#3478b3;
    border: 1px solid #0a61ab;
}


