<!DOCTYPE html>
<html>
<title>PLACES</title>
<link rel="shortcut icon" href="places/placesicon.png"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="navigation.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Categories</a>
  <a href="childinfo.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">The Child</a>
  <a href="parent.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">The Parent</a>
  <a href="places_rec.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Child Activity: PLACES</a>
  <a href="welcome.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Logout</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">
  <img src="places/placesicon.png" alt="logo" width="30px" height="auto"/>PLACES</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
  <!-- FOOD -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div class="w3-quarter">
        <img src="places/jollibee.jpg" style="width:100%" onclick="document.getElementById('jollibee_play').play(); jollibee_clicks(); return false;" alt="Jollibee">
        <img src="places/mcdo.jpg" style="width:100%" onclick="document.getElementById('mcdo_play').play(); mcdo_clicks(); return false;" alt="Playground">
        </div>

   <div class="w3-quarter">
      <img src="places/church.jpg" style="width:100%" onclick="document.getElementById('church_play').play(); church_clicks(); return false;" alt="Church">
      <img src="places/school.jpg" style="width:100%" onclick="document.getElementById('school_play').play(); school_clicks(); return false;" alt="School">
   </div>

    <div class="w3-quarter">
      <img src="places/pool.jpg" style="width:100%" onclick="document.getElementById('pool_play').play(); pool_clicks(); return false;" alt="Pool">
      <img src="places/playground.jpg" style="width:100%" onclick="document.getElementById('playground_play').play(); play_clicks(); return false;" alt="Playground">

    </div>

  </div>


    <audio id="jollibee_play">
    <source src="audio/jollibee.mp3" type="audio/ogg" />
    </audio>
    <audio id="mcdo_play">
    <source src="audio/mcdonald's.mp3" type="audio/ogg" />
    </audio>
    <audio id="church_play">
    <source src="audio/church.mp3" type="audio/ogg" />
    </audio>
    <audio id="school_play">
    <source src="audio/school.mp3" type="audio/ogg" />
    </audio>
    <audio id="pool_play">
    <source src="audio/pool.mp3" type="audio/ogg" />
    </audio>
    <audio id="playground_play">
    <source src="audio/playground.mp3" type="audio/ogg" />
    </audio>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>

 <script src="jQuery-2.1.4.min.js"></script>
 <script src="app.js"></script>



</body>
</html>